<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/style.css">
  <title>CRUD de Produtos</title>
</head>
<body>
  <div class="navbar">
    <h1 class="logo">Market!</h1>
    </form>
 
  </div>
  

  
    <div>
      <form action="/" method="POST" class="productForm">
        <input name="name" type="text" class="nameInput" placeholder="nome">
        <input name="price" type="text" class="priceInput" placeholder="preço">
        <input name="quantity" type="text" class="quantityInput" placeholder="quantidade">
        <input name="image" type="text" class="imgInput" placeholder="image">
        <button class="adicionar" type="submit">Adicionar</button>
      </form>

    </div>

    <ul class="items">
    <% product.forEach((product) => { %>
      <li class="item">
      <img class="image" src="<%= product.image %>" />
      <br>
        <strong class="item-name"><%= product.name %></strong>
        <p class="item-price">Preço: <%= product.price %>$</p>
        <p>Quantidade:<%=product.quantity%></p>
        <div class="buttons">
          <button onclick="hanglePut('<%= product._id%>')" class="put">Atualizar</button>
          <button onclick="handleDelete('<%= product._id %>')" class="delete">Excluir</button>
        </div>
        
      </li>
    <% }); %>
  </ul>

  <script>

    const handleDelete = (productId) => {
      const response = fetch(`/${productId}`, {
        method: "DELETE"
      })
      window.location.href = "/home"
    }

    const handlePut = () => {
      const nameInput = document.querySelector('.itemName').value;

      if(prompt){
        const response = fetch(`/${productId}`, {
        method:"PUT"
      })
      window.location.href = "/home"
      }
    }

 </script>

</body>
</html>