<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/style.css">
  <title>CRUD de Produtos</title>
</head>
<body>
  <div class="navbar">
    <h1 class="Hello">Market!</h1>
    </form>
 
  </div>
  

  <ul class="items">
    <div>
      <form action="POST">
      
        <input type="text" placeholder="nome">
        <input type="text" placeholder="preço">
        <input type="text" placeholder="quantidade">
        <button onclick="handleNew()">Adicionar</button>
      </form>

    </div>

    <% product.forEach((product) => { %>
      <img class="image" src="<%= product.image %>">
      <li class="item-list">
        <strong class="item-name"><%= product.name %></strong>
        <p class="item-price">Preço: <%= product.price %></p>
        <p>Quantidade:<%=product.quantity%></p>
        <button onclick="handleDelete('<%= product._id %>')" class="delete">Excluir</button>
      </li>
    <% }); %>
  </ul>

  <script>

    const handleDelete = (productId) => {
      const response = fetch(`/${productId}`, {
        method: "DELETE"
      })
      window.location.href = "/home"
    }

  </script>

</body>
</html>